* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#button {
    width: 100px;
    border: none;
    background-color: #1F271B;
    color: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}