* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

input, textarea {
    width: 400px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 5px;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 4px;
    font-size: 12px;
}

textarea {
    padding-top: 5px;
    resize: none;
    width: 400px;
    height: 140px;
}

input:focus {
    outline: none;
    border: 2px #9D6381 solid;
}

textarea:focus {
    outline: none;
    border: 2px #9D6381 solid;
}

#form-window-container {
    width: 610px;
    min-height: 450px;
    height: 75vh;
    max-height: 720px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    position: fixed;
}

#form-window-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

#button-container {
    width: 240px;
    height: 50px;
    display: flex;
    align-self: flex-end;
    justify-content: space-evenly;
    justify-self: flex-end;
}